{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1>Cook List</h1>
            <div class="d-flex justify-content-between mb-3">
              <a href="{% url 'foodie:cook-create' %}" class="btn btn-primary">Create</a>
              <form action="" method="get" class="form-inline">
                {{ search_form|crispy }}
                <input class="btn btn-secondary" type="submit" value="🔎">
              </form>
            </div>
            {% if cook_list %}
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Username</th>
                    <th>Update</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  {% for cook in cook_list %}
                    <tr>
                      <td><a href="{% url 'foodie:cook-detail' pk=cook.id %}">{{ cook.username }}</td>
                      <td>
                        <a href="{% url 'foodie:cook-update' pk=cook.id %}" class="btn btn-warning btn-sm">
                          Update
                        </a>
                      </td>
                      <td>
                        <a href="{% url 'foodie:cook-delete' pk=cook.id %}" class="btn btn-danger btn-sm">
                          Delete
                        </a>
                      </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            {% else %}
              <p>No cooks found.</p>
            {% endif %}
            {% block pagination %}
              {% include "includes/pagination.html" %}
            {% endblock %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
