{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="card">
    <div class="card-body">
      <h1 class="card-title mb-4">Delete dish type?</h1>
      <p class="card-text">Are you sure you want to delete dish type?</p>
      <form method="post">
        {% csrf_token %}
        {{ form|crispy }}

        <div class="mt-4">
          <button class="btn btn-danger mr-2" type="submit">Delete</button>
          <a class="btn btn-secondary" href="{% url 'foodie:dish-type-list' %}">Cancel</a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}

