{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
              <h1>Dish List</h1>
              <div class="d-flex justify-content-between mb-3">
                <a href="{% url 'foodie:dish-create' %}" class="btn btn-primary">Create</a>
                <form action="" method="get" class="form-inline">
                  {{ search_form|crispy }}
                  <input class="btn btn-secondary" type="submit" value="🔎">
                </form>
              </div>
              {% if dish_list %}
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Update</th>
                      <th>Delete</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for dish in dish_list %}
                      <tr>
                        <td>{{ dish.name }}</td>
                        <td>
                          <a href="{% url 'foodie:dish-update' pk=dish.id %}" class="btn btn-warning btn-sm">
                            Update
                          </a>
                        </td>
                        <td>
                          <a href="{% url 'foodie:dish-delete' pk=dish.id %}" class="btn btn-danger btn-sm">
                            Delete
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                <p>No dishes found.</p>
              {% endif %}
              {% block pagination %}
                {% include "includes/pagination.html" %}
              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}