{% extends "base.html" %}

{% block content %}
  <p>
    Dish name: {{ dish.name }}
  </p>

  <h1>Cooks</h1>
    {% if user in dish.cooks.all %}
      <a class="btn btn-danger" href="{% url 'foodie:assign-delete-cook' pk=dish.id %}">Remove me as a cook</a>
    {% else %}
      <a class="btn btn-primary" href="{% url 'foodie:assign-delete-cook' pk=dish.id %}">Add me as a cook</a>
    {% endif %}
  <hr>
  <ul>
  {% for cook in dish.cooks.all %}
    <li>{{ cook.first_name }} {{ cook.last_name }}</li>
  {% endfor %}
  </ul>
  <a class="btn btn-primary" href="{% url 'foodie:dish-update' pk=dish.id %}">Update</a>
  <a class="btn btn-danger" href="{% url 'foodie:dish-delete' pk=dish.id %}">Delete</a>
{% endblock %}
