{% extends "base.html" %}

{% block content %}
  <div class="container">
    <div class="row justify-content-center mt-5">
      <div class="col-md-8">
        <div class="card">
          <div class="card-header">
            <h1 class="text-center">Restaurant</h1>
          </div>
          <div class="card-body">
            <p class="lead">Welcome to the restaurant!</p>
            <p>Now we have:</p>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Number of dishes: {{ num_dishes }}</li>
              <li class="list-group-item">Number of dish types: {{ num_dishtypes }}</li>
              <li class="list-group-item">Number of cooks: {{ num_cooks }}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
